<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="components.css" />
  </head>
  <body>
    <section>
      <h2>Text Styles</h2>
      <h1 class="header-text">Header</h1>
      <h2 class="information-header">Information header</h2>
      <h3 class="article-header">Article header</h3>
      <p class="bread-text">Bread text</p>
      <p class="information-bread">Information bread</p>
      <p class="article-bread">Article bread</p>
      <p class="logo-bread">Logo bread</p>
      <p class="article-loan-time">Article loan time</p>
      <p class="article-availability">Article availability</p>
    </section>
    <section>
      <h2>Buttons</h2>
      <button class="button-book">BOKA NU!</button>
      <button class="button-booked">BOKAD!</button>
      <button class="button-out">UTLÅNAD!</button>
    </section>
    <section>
      <h2>components</h2>
      <article class="logo">
        <a href="index.html">
          <div class="logo-texts">
            <p class="logo-bread">Stickans</p>
            <h1 class="header-text logo-header">VERKTYGSLÅDA</h1>
          </div>
        </a>
        <img src="../IMG/Tools.png" class="logo-image" />
      </article>
      <article class="navigator">
        <p class="bread-text navigator-text">Ditt lokala verktygsbibliotek</p>
        <a href="overview.html"><img src="../IMG/User.png" class="user-image" /></a>
        <img src="../IMG/Menu.png" class="menu-image" />
      </article>
      <article class="card-products-list">
        <img src="../IMG/Borr kit.jpeg" class="products-list-image" />
        <h2 class="information-header">BORRMASKIN MILWAUKEE</h2>
        <p class="information-bread">Komplett kit</p>
      </article>
      <article class="card-article">
        <img src="../IMG/Borr kit.jpeg" class="article-image" />
        <div class="article-info">
          <h2 class="article-header">BORRMASKIN MILWAUKEE</h2>
          <p class="article-bread">Komplett kit med laddare</p>
          <p class="article-availability"> Finns tillgänglig</p>
          <p class="article-loan-time">Kan lånas max 2 veckor i taget</p>
        </div>
      </article>
    </section>
  </body>
</html>
